<mat-form-field class="search-box" appearance="outline" subscriptSizing="dynamic" role="search">
  <mat-label>{{ etiqueta() }}</mat-label>

  <mat-icon matPrefix>search</mat-icon>

  <input
    matInput
    type="search"
    [formControl]="control"
    [placeholder]="placeholder()"
    [attr.aria-label]="etiqueta()"
    (keydown.enter)="emitirAhora()"
  />

  @if (control.value) {
    <button
      mat-icon-button
      matSuffix
      type="button"
      aria-label="Limpiar búsqueda"
      (click)="limpiar()"
    >
      <mat-icon>close</mat-icon>
    </button>
  }
</mat-form-field>
