USE [db_a25cfd_opt2]
GO
/****** Object:  Table [dbo].[OPT_Abono]    Script Date: 20-02-2026 15:52:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OPT_Abono](
	[idAbono] [bigint] IDENTITY(1,1) NOT NULL,
	[idOT] [bigint] NOT NULL,
	[idFormaPago] [int] NOT NULL,
	[Monto] [decimal](18, 0) NOT NULL,
	[FechaAbono] [datetime] NOT NULL,
 CONSTRAINT [PK_OPT_Abono] PRIMARY KEY CLUSTERED 
(
	[idAbono] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OPT_Anamnesis]    Script Date: 20-02-2026 15:52:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OPT_Anamnesis](
	[idAnamnesis] [bigint] IDENTITY(1,1) NOT NULL,
	[RutCliente] [varchar](12) NOT NULL,
	[FechaIngreso] [datetime] NOT NULL,
	[RutUsuario] [varchar](12) NOT NULL,
	[idSucursal] [int] NOT NULL,
	[idEmpresa] [int] NOT NULL,
	[hipertension] [bit] NOT NULL,
	[Diabetes] [bit] NOT NULL,
	[Alergias] [bit] NOT NULL,
	[Lentes] [bit] NOT NULL,
	[Observacion] [nvarchar](500) NULL,
 CONSTRAINT [PK_OPT_Anamnesis] PRIMARY KEY CLUSTERED 
(
	[idAnamnesis] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OPT_Atencion]    Script Date: 20-02-2026 15:52:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OPT_Atencion](
	[idAtencion] [bigint] IDENTITY(1,1) NOT NULL,
	[RutCliente] [varchar](12) NOT NULL,
	[FechaAtencion] [datetime] NOT NULL,
	[Responsable] [varchar](100) NOT NULL,
	[idAnamnesis] [bigint] NULL,
	[idRecetaCristales] [bigint] NULL,
	[idOT] [bigint] NULL,
 CONSTRAINT [PK_OPT_Atencion] PRIMARY KEY CLUSTERED 
(
	[idAtencion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OPT_BitacoraOT]    Script Date: 20-02-2026 15:52:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OPT_BitacoraOT](
	[idBitacoraOT] [bigint] IDENTITY(1,1) NOT NULL,
	[idOT] [bigint] NOT NULL,
	[idEstado] [int] NOT NULL,
	[Fecha] [datetime] NOT NULL,
	[Responsable] [nvarchar](50) NOT NULL,
	[Observacion] [varchar](200) NOT NULL,
 CONSTRAINT [PK_OPT_BitacoraOT] PRIMARY KEY CLUSTERED 
(
	[idBitacoraOT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OPT_Cliente]    Script Date: 20-02-2026 15:52:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OPT_Cliente](
	[RutCliente] [varchar](12) NOT NULL,
	[idTipoDocumento] [int] NOT NULL,
	[idEmpresa] [int] NULL,
	[Nombre] [varchar](100) NULL,
	[Direccion] [varchar](100) NULL,
	[idComuna] [int] NULL,
	[Celular] [varchar](10) NULL,
	[Mail] [varchar](50) NULL,
	[FechaIngreso] [datetime] NULL,
	[FechaNacimiento] [date] NULL,
	[TipoPrevision] [varchar](50) NULL,
 CONSTRAINT [PK_OPT_Cliente] PRIMARY KEY CLUSTERED 
(
	[RutCliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OPT_Comuna]    Script Date: 20-02-2026 15:52:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OPT_Comuna](
	[idComuna] [int] NOT NULL,
	[idRegion] [int] NOT NULL,
	[Comuna] [varchar](50) NOT NULL,
 CONSTRAINT [PK_OPT_Comuna] PRIMARY KEY CLUSTERED 
(
	[idComuna] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OPT_Cuota]    Script Date: 20-02-2026 15:52:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OPT_Cuota](
	[idCuota] [bigint] IDENTITY(1,1) NOT NULL,
	[idOT] [bigint] NOT NULL,
	[Numero] [int] NOT NULL,
	[ValorCuota] [decimal](18, 0) NOT NULL,
	[FechaBencimiento] [datetime] NOT NULL,
	[FechaPago] [datetime] NULL,
	[TipoPago] [varchar](50) NULL,
	[Estado] [varchar](50) NULL,
 CONSTRAINT [PK_OPT_Cuota] PRIMARY KEY CLUSTERED 
(
	[idCuota] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OPT_CuotaTEMP]    Script Date: 20-02-2026 15:52:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OPT_CuotaTEMP](
	[idCuota] [bigint] IDENTITY(1,1) NOT NULL,
	[idOT] [bigint] NOT NULL,
	[Numero] [int] NOT NULL,
	[ValorCuota] [decimal](18, 0) NOT NULL,
	[FechaBencimiento] [datetime] NOT NULL,
	[FechaPago] [datetime] NULL,
	[TipoPago] [varchar](50) NULL,
	[Estado] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OPT_Defontana]    Script Date: 20-02-2026 15:52:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OPT_Defontana](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Uri] [nvarchar](300) NOT NULL,
	[Usuario] [nvarchar](100) NOT NULL,
	[Clave] [nvarchar](20) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Cliente] [nvarchar](50) NOT NULL,
	[Compania] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_OPT_Defontana] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OPT_Empresa]    Script Date: 20-02-2026 15:52:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OPT_Empresa](
	[idEmpresa] [int] IDENTITY(1,1) NOT NULL,
	[Empresa] [varchar](50) NOT NULL,
	[Direccion] [varchar](100) NULL,
	[Contacto] [varchar](50) NULL,
	[Telefono] [varchar](10) NULL,
 CONSTRAINT [PK_OPT_Empresa] PRIMARY KEY CLUSTERED 
(
	[idEmpresa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OPT_EmpresaSucursal]    Script Date: 20-02-2026 15:52:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OPT_EmpresaSucursal](
	[idEmpresaSucursal] [int] IDENTITY(1,1) NOT NULL,
	[idEmpresa] [int] NOT NULL,
	[idSucursal] [int] NOT NULL,
 CONSTRAINT [PK_OPT_EmpresaSucursal] PRIMARY KEY CLUSTERED 
(
	[idEmpresaSucursal] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OPT_EstadoOT]    Script Date: 20-02-2026 15:52:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OPT_EstadoOT](
	[idEstadoOT] [int] NOT NULL,
	[Estado] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_OPT_EstadoOT] PRIMARY KEY CLUSTERED 
(
	[idEstadoOT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OPT_FormaPago]    Script Date: 20-02-2026 15:52:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OPT_FormaPago](
	[idFormaPago] [int] NOT NULL,
	[FormaPago] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_OPT_FormaPago] PRIMARY KEY CLUSTERED 
(
	[idFormaPago] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OPT_NotaTraslado]    Script Date: 20-02-2026 15:52:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OPT_NotaTraslado](
	[idNotaTraslado] [bigint] IDENTITY(1,1) NOT NULL,
	[FechaIngreso] [datetime] NOT NULL,
	[RutUsuarioEmisor] [varchar](12) NOT NULL,
	[idSucursalOrigen] [int] NOT NULL,
	[idSucursalDestino] [int] NOT NULL,
	[FechaRecepcion] [datetime] NULL,
	[RutUsuarioReceptor] [varchar](12) NULL,
	[Estado] [varchar](50) NOT NULL,
 CONSTRAINT [PK_OPT_NotaTraslado] PRIMARY KEY CLUSTERED 
(
	[idNotaTraslado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OPT_NotaTrasladoDetalle]    Script Date: 20-02-2026 15:52:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OPT_NotaTrasladoDetalle](
	[idNotaTrasladoDetalle] [bigint] IDENTITY(1,1) NOT NULL,
	[idNotaTraslado] [bigint] NOT NULL,
	[idProducto] [bigint] NOT NULL,
	[Cantidad] [int] NOT NULL,
 CONSTRAINT [PK_OPT_NotaTrasladoDetalle] PRIMARY KEY CLUSTERED 
(
	[idNotaTrasladoDetalle] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OPT_OrdenDeTrabajo]    Script Date: 20-02-2026 15:52:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OPT_OrdenDeTrabajo](
	[idOT] [bigint] NOT NULL,
	[Beneficiario] [varchar](100) NULL,
	[RutCliente] [varchar](12) NOT NULL,
	[FechaAtencion] [date] NULL,
	[FechaEntrega] [date] NULL,
	[HoraEntrega] [time](7) NULL,
	[Precio] [decimal](18, 0) NULL,
	[Abono] [decimal](18, 0) NULL,
	[Saldo] [decimal](18, 0) NULL,
	[NumeroCuota] [int] NULL,
	[EstadoPago] [varchar](50) NULL,
	[idSucursal] [int] NULL,
	[Usuario] [varchar](100) NULL,
	[idEmpresa] [int] NULL,
	[FormaAbono] [varchar](50) NULL,
 CONSTRAINT [PK_OPT_OrdenDeTrabajo] PRIMARY KEY CLUSTERED 
(
	[idOT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OPT_OrdenDeTrabajoDetalle]    Script Date: 20-02-2026 15:52:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OPT_OrdenDeTrabajoDetalle](
	[idOTDetalle] [bigint] IDENTITY(1,1) NOT NULL,
	[idOT] [bigint] NOT NULL,
	[Cantidad] [int] NOT NULL,
	[ValorUnitario] [decimal](18, 0) NOT NULL,
	[Comentario] [varchar](250) NULL,
	[idProducto] [bigint] NOT NULL,
 CONSTRAINT [PK_OPT_OrdenDeTrabajoDetalle] PRIMARY KEY CLUSTERED 
(
	[idOTDetalle] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OPT_Pago]    Script Date: 20-02-2026 15:52:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OPT_Pago](
	[idPago] [bigint] IDENTITY(1,1) NOT NULL,
	[idOT] [bigint] NOT NULL,
	[FechaPago] [datetime] NOT NULL,
	[Monto] [decimal](18, 0) NOT NULL,
	[TipoPago] [varchar](50) NOT NULL,
 CONSTRAINT [PK_OPT_Pago] PRIMARY KEY CLUSTERED 
(
	[idPago] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OPT_PaqueteCristales]    Script Date: 20-02-2026 15:52:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OPT_PaqueteCristales](
	[idPaqueteCristales] [bigint] IDENTITY(1,1) NOT NULL,
	[Fecha] [datetime] NOT NULL,
	[Observacion] [nvarchar](300) NOT NULL,
	[Proveedor] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_OPT_PaqueteCristales] PRIMARY KEY CLUSTERED 
(
	[idPaqueteCristales] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OPT_PaqueteCristalesDetalle]    Script Date: 20-02-2026 15:52:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OPT_PaqueteCristalesDetalle](
	[idPaqueteCristalesDetalle] [bigint] IDENTITY(1,1) NOT NULL,
	[idPaqueteCristales] [bigint] NOT NULL,
	[idOT] [bigint] NOT NULL,
	[FechaInicio] [datetime] NOT NULL,
	[FechaTermino] [datetime] NULL,
 CONSTRAINT [PK_OPT_PaqueteCristalesDetalle] PRIMARY KEY CLUSTERED 
(
	[idPaqueteCristalesDetalle] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OPT_Producto]    Script Date: 20-02-2026 15:52:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OPT_Producto](
	[idProducto] [bigint] IDENTITY(1,1) NOT NULL,
	[Codigo] [nvarchar](50) NOT NULL,
	[Producto] [nvarchar](50) NOT NULL,
	[FechaIngreso] [datetime] NOT NULL,
	[ControlStock] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idProducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OPT_ProductoDocumento]    Script Date: 20-02-2026 15:52:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OPT_ProductoDocumento](
	[idProductoDocumento] [bigint] IDENTITY(1,1) NOT NULL,
	[idTipoDocumento] [int] NOT NULL,
	[NumDocumento] [varchar](50) NOT NULL,
	[IngresoEgreso] [int] NOT NULL,
	[Proveedor] [varchar](50) NOT NULL,
	[FechaDocumento] [datetime] NOT NULL,
	[FechaIngreso] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idProductoDocumento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OPT_ProductoIngresoEgreso]    Script Date: 20-02-2026 15:52:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OPT_ProductoIngresoEgreso](
	[idProductoIngreso] [bigint] IDENTITY(1,1) NOT NULL,
	[idProductoDocumento] [bigint] NOT NULL,
	[idProducto] [bigint] NOT NULL,
	[Cantidad] [int] NOT NULL,
	[ValorUnitario] [int] NOT NULL,
	[ValorVenta] [int] NULL,
	[idSucursal] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[idProductoIngreso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OPT_ProductoSucursal]    Script Date: 20-02-2026 15:52:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OPT_ProductoSucursal](
	[idProductoSucursal] [bigint] IDENTITY(1,1) NOT NULL,
	[idProducto] [bigint] NOT NULL,
	[idSucursal] [int] NOT NULL,
	[Entrada] [int] NOT NULL,
	[Salida] [int] NOT NULL,
	[Stock] [int] NOT NULL,
	[StockMinimo] [int] NOT NULL,
	[StockMaximo] [int] NOT NULL,
	[PrecioVenta] [int] NOT NULL,
 CONSTRAINT [PK_OPT_ProductoSucursal] PRIMARY KEY CLUSTERED 
(
	[idProductoSucursal] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OPT_ProductoTemp]    Script Date: 20-02-2026 15:52:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OPT_ProductoTemp](
	[idProducto] [bigint] IDENTITY(1,1) NOT NULL,
	[Codigo] [nvarchar](50) NOT NULL,
	[Producto] [nvarchar](50) NOT NULL,
	[FechaIngreso] [datetime] NOT NULL,
	[Entrada] [int] NULL,
	[Salida] [int] NULL,
	[Stock] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[idProducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OPT_RecetaCristales]    Script Date: 20-02-2026 15:52:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OPT_RecetaCristales](
	[idRecetaCristales] [bigint] IDENTITY(1,1) NOT NULL,
	[idOT] [bigint] NULL,
	[RutCliente] [varchar](12) NULL,
	[FechaIngreso] [datetime] NULL,
	[LejosODEsferico] [varchar](10) NULL,
	[LejosODCilindro] [varchar](10) NULL,
	[LejosODEje] [varchar](10) NULL,
	[LejosODObservacion] [varchar](50) NULL,
	[LejosOIEsferico] [varchar](10) NULL,
	[LejosOICilindro] [varchar](10) NULL,
	[LejosOIEje] [varchar](10) NULL,
	[LejosOIObservacion] [varchar](50) NULL,
	[LejosDPEsferico] [varchar](10) NULL,
	[LejosDPObservacion] [varchar](50) NULL,
	[CercaODEsferico] [nchar](10) NULL,
	[CercaODCilindro] [varchar](10) NULL,
	[CercaODEje] [varchar](10) NULL,
	[CercaODObservacion] [varchar](50) NULL,
	[CercaOIEsferico] [varchar](10) NULL,
	[CercaOICilindro] [varchar](10) NULL,
	[CercaOIEje] [varchar](10) NULL,
	[CercaOIObservacion] [varchar](50) NULL,
	[LejosADDEsfera] [varchar](10) NULL,
	[CercaDPEsferico] [varchar](10) NULL,
	[CercaDPObservacion] [varchar](50) NULL,
	[CheckLejos] [bit] NOT NULL,
	[CheckCerca] [bit] NOT NULL,
	[CheckCristalesLaboratorio] [bit] NOT NULL,
	[CheckUrgente] [bit] NOT NULL,
 CONSTRAINT [PK_OPT_RecetaCristales] PRIMARY KEY CLUSTERED 
(
	[idRecetaCristales] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OPT_Region]    Script Date: 20-02-2026 15:52:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OPT_Region](
	[idRegion] [int] NOT NULL,
	[Region] [varchar](50) NOT NULL,
 CONSTRAINT [PK_OPT_Region] PRIMARY KEY CLUSTERED 
(
	[idRegion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OPT_RegularizaProducto]    Script Date: 20-02-2026 15:52:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OPT_RegularizaProducto](
	[idRegularizaProducto] [bigint] IDENTITY(1,1) NOT NULL,
	[idProducto] [bigint] NOT NULL,
	[StockAnterior] [int] NOT NULL,
	[StockNuevo] [int] NOT NULL,
	[Fecha] [datetime] NOT NULL,
	[Responsable] [nvarchar](100) NOT NULL,
	[Motivo] [nvarchar](200) NOT NULL,
	[idSucursal] [bigint] NULL,
	[PrecioAnterior] [int] NULL,
	[PrecioNuevo] [int] NULL,
 CONSTRAINT [PK_OPT_RegularizaProducto] PRIMARY KEY CLUSTERED 
(
	[idRegularizaProducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OPT_Rol]    Script Date: 20-02-2026 15:52:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OPT_Rol](
	[idRol] [int] IDENTITY(1,1) NOT NULL,
	[Rol] [varchar](50) NOT NULL,
 CONSTRAINT [PK_OPT_Rol] PRIMARY KEY CLUSTERED 
(
	[idRol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OPT_Sucursal]    Script Date: 20-02-2026 15:52:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OPT_Sucursal](
	[idSucursal] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Direccion] [varchar](100) NOT NULL,
	[Telefono] [varchar](20) NOT NULL,
	[FechaRegistro] [date] NOT NULL,
	[Matriz] [bit] NOT NULL,
 CONSTRAINT [PK_OPT_Sucursal] PRIMARY KEY CLUSTERED 
(
	[idSucursal] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OPT_TipoDocumento]    Script Date: 20-02-2026 15:52:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OPT_TipoDocumento](
	[idTipoDocumento] [int] IDENTITY(1,1) NOT NULL,
	[TipoDocumento] [varchar](50) NOT NULL,
	[IngresoEgreso] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idTipoDocumento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OPT_Usuario]    Script Date: 20-02-2026 15:52:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OPT_Usuario](
	[RutUsuario] [varchar](12) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[Mail] [varchar](50) NOT NULL,
	[Clave] [varchar](15) NOT NULL,
	[FechaIngreso] [datetime] NOT NULL,
	[idRol] [int] NULL,
 CONSTRAINT [PK_OPT_Usuario] PRIMARY KEY CLUSTERED 
(
	[RutUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OPT_UsuarioSucursal]    Script Date: 20-02-2026 15:52:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OPT_UsuarioSucursal](
	[idUsuarioSucursal] [int] IDENTITY(1,1) NOT NULL,
	[RutUsuario] [varchar](12) NOT NULL,
	[idSucursal] [int] NOT NULL,
 CONSTRAINT [PK_OPT_UsuarioSucursal] PRIMARY KEY CLUSTERED 
(
	[idUsuarioSucursal] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[OPT_BitacoraOT] ADD  DEFAULT ('') FOR [Observacion]
GO
ALTER TABLE [dbo].[OPT_Cliente] ADD  CONSTRAINT [DF_OPT_Cliente_idTipoDocumento]  DEFAULT ((0)) FOR [idTipoDocumento]
GO
ALTER TABLE [dbo].[OPT_Producto] ADD  DEFAULT (getdate()) FOR [FechaIngreso]
GO
ALTER TABLE [dbo].[OPT_Producto] ADD  DEFAULT ((0)) FOR [ControlStock]
GO
ALTER TABLE [dbo].[OPT_ProductoTemp] ADD  DEFAULT (getdate()) FOR [FechaIngreso]
GO
ALTER TABLE [dbo].[OPT_RecetaCristales] ADD  DEFAULT (getdate()) FOR [FechaIngreso]
GO
ALTER TABLE [dbo].[OPT_RecetaCristales] ADD  DEFAULT ((0)) FOR [CheckLejos]
GO
ALTER TABLE [dbo].[OPT_RecetaCristales] ADD  DEFAULT ((0)) FOR [CheckCerca]
GO
ALTER TABLE [dbo].[OPT_RecetaCristales] ADD  DEFAULT ((0)) FOR [CheckCristalesLaboratorio]
GO
ALTER TABLE [dbo].[OPT_RecetaCristales] ADD  DEFAULT ((0)) FOR [CheckUrgente]
GO
ALTER TABLE [dbo].[OPT_Abono]  WITH CHECK ADD  CONSTRAINT [FK_OPT_Abono_OPT_FormaPago] FOREIGN KEY([idFormaPago])
REFERENCES [dbo].[OPT_FormaPago] ([idFormaPago])
GO
ALTER TABLE [dbo].[OPT_Abono] CHECK CONSTRAINT [FK_OPT_Abono_OPT_FormaPago]
GO
ALTER TABLE [dbo].[OPT_Abono]  WITH CHECK ADD  CONSTRAINT [FK_OPT_Abono_OPT_OrdenDeTrabajo] FOREIGN KEY([idOT])
REFERENCES [dbo].[OPT_OrdenDeTrabajo] ([idOT])
GO
ALTER TABLE [dbo].[OPT_Abono] CHECK CONSTRAINT [FK_OPT_Abono_OPT_OrdenDeTrabajo]
GO
ALTER TABLE [dbo].[OPT_Anamnesis]  WITH CHECK ADD  CONSTRAINT [FK_OPT_Anamnesis_OPT_Cliente] FOREIGN KEY([RutCliente])
REFERENCES [dbo].[OPT_Cliente] ([RutCliente])
GO
ALTER TABLE [dbo].[OPT_Anamnesis] CHECK CONSTRAINT [FK_OPT_Anamnesis_OPT_Cliente]
GO
ALTER TABLE [dbo].[OPT_Anamnesis]  WITH CHECK ADD  CONSTRAINT [FK_OPT_Anamnesis_OPT_Empresa] FOREIGN KEY([idEmpresa])
REFERENCES [dbo].[OPT_Empresa] ([idEmpresa])
GO
ALTER TABLE [dbo].[OPT_Anamnesis] CHECK CONSTRAINT [FK_OPT_Anamnesis_OPT_Empresa]
GO
ALTER TABLE [dbo].[OPT_Anamnesis]  WITH CHECK ADD  CONSTRAINT [FK_OPT_Anamnesis_OPT_Sucursal] FOREIGN KEY([idSucursal])
REFERENCES [dbo].[OPT_Sucursal] ([idSucursal])
GO
ALTER TABLE [dbo].[OPT_Anamnesis] CHECK CONSTRAINT [FK_OPT_Anamnesis_OPT_Sucursal]
GO
ALTER TABLE [dbo].[OPT_Atencion]  WITH CHECK ADD  CONSTRAINT [FK_OPT_Atencion_OPT_Cliente] FOREIGN KEY([RutCliente])
REFERENCES [dbo].[OPT_Cliente] ([RutCliente])
GO
ALTER TABLE [dbo].[OPT_Atencion] CHECK CONSTRAINT [FK_OPT_Atencion_OPT_Cliente]
GO
ALTER TABLE [dbo].[OPT_BitacoraOT]  WITH CHECK ADD  CONSTRAINT [FK_OPT_BitacoraOT_OPT_EstadoOT] FOREIGN KEY([idEstado])
REFERENCES [dbo].[OPT_EstadoOT] ([idEstadoOT])
GO
ALTER TABLE [dbo].[OPT_BitacoraOT] CHECK CONSTRAINT [FK_OPT_BitacoraOT_OPT_EstadoOT]
GO
ALTER TABLE [dbo].[OPT_BitacoraOT]  WITH CHECK ADD  CONSTRAINT [FK_OPT_BitacoraOT_OPT_OrdenDeTrabajo] FOREIGN KEY([idOT])
REFERENCES [dbo].[OPT_OrdenDeTrabajo] ([idOT])
GO
ALTER TABLE [dbo].[OPT_BitacoraOT] CHECK CONSTRAINT [FK_OPT_BitacoraOT_OPT_OrdenDeTrabajo]
GO
ALTER TABLE [dbo].[OPT_Cliente]  WITH CHECK ADD  CONSTRAINT [FK_OPT_Cliente_OPT_Comuna] FOREIGN KEY([idComuna])
REFERENCES [dbo].[OPT_Comuna] ([idComuna])
GO
ALTER TABLE [dbo].[OPT_Cliente] CHECK CONSTRAINT [FK_OPT_Cliente_OPT_Comuna]
GO
ALTER TABLE [dbo].[OPT_Cliente]  WITH CHECK ADD  CONSTRAINT [FK_OPT_Cliente_OPT_Empresa] FOREIGN KEY([idEmpresa])
REFERENCES [dbo].[OPT_Empresa] ([idEmpresa])
GO
ALTER TABLE [dbo].[OPT_Cliente] CHECK CONSTRAINT [FK_OPT_Cliente_OPT_Empresa]
GO
ALTER TABLE [dbo].[OPT_Comuna]  WITH CHECK ADD  CONSTRAINT [FK_OPT_Comuna_OPT_Region] FOREIGN KEY([idRegion])
REFERENCES [dbo].[OPT_Region] ([idRegion])
GO
ALTER TABLE [dbo].[OPT_Comuna] CHECK CONSTRAINT [FK_OPT_Comuna_OPT_Region]
GO
ALTER TABLE [dbo].[OPT_Cuota]  WITH CHECK ADD  CONSTRAINT [FK__OPT_Cuota__Estad__778AC167] FOREIGN KEY([idOT])
REFERENCES [dbo].[OPT_OrdenDeTrabajo] ([idOT])
GO
ALTER TABLE [dbo].[OPT_Cuota] CHECK CONSTRAINT [FK__OPT_Cuota__Estad__778AC167]
GO
ALTER TABLE [dbo].[OPT_EmpresaSucursal]  WITH CHECK ADD  CONSTRAINT [FK_OPT_EmpresaSucursal_OPT_Empresa] FOREIGN KEY([idEmpresa])
REFERENCES [dbo].[OPT_Empresa] ([idEmpresa])
GO
ALTER TABLE [dbo].[OPT_EmpresaSucursal] CHECK CONSTRAINT [FK_OPT_EmpresaSucursal_OPT_Empresa]
GO
ALTER TABLE [dbo].[OPT_EmpresaSucursal]  WITH CHECK ADD  CONSTRAINT [FK_OPT_EmpresaSucursal_OPT_Sucursal] FOREIGN KEY([idSucursal])
REFERENCES [dbo].[OPT_Sucursal] ([idSucursal])
GO
ALTER TABLE [dbo].[OPT_EmpresaSucursal] CHECK CONSTRAINT [FK_OPT_EmpresaSucursal_OPT_Sucursal]
GO
ALTER TABLE [dbo].[OPT_NotaTrasladoDetalle]  WITH CHECK ADD  CONSTRAINT [FK_OPT_NotaTrasladoDetalle_OPT_NotaTraslado] FOREIGN KEY([idNotaTraslado])
REFERENCES [dbo].[OPT_NotaTraslado] ([idNotaTraslado])
GO
ALTER TABLE [dbo].[OPT_NotaTrasladoDetalle] CHECK CONSTRAINT [FK_OPT_NotaTrasladoDetalle_OPT_NotaTraslado]
GO
ALTER TABLE [dbo].[OPT_OrdenDeTrabajo]  WITH CHECK ADD  CONSTRAINT [FK_OPT_OrdenDeTrabajo_OPT_Cliente] FOREIGN KEY([RutCliente])
REFERENCES [dbo].[OPT_Cliente] ([RutCliente])
GO
ALTER TABLE [dbo].[OPT_OrdenDeTrabajo] CHECK CONSTRAINT [FK_OPT_OrdenDeTrabajo_OPT_Cliente]
GO
ALTER TABLE [dbo].[OPT_OrdenDeTrabajo]  WITH CHECK ADD  CONSTRAINT [FK_OPT_OrdenDeTrabajo_OPT_Empresa] FOREIGN KEY([idEmpresa])
REFERENCES [dbo].[OPT_Empresa] ([idEmpresa])
GO
ALTER TABLE [dbo].[OPT_OrdenDeTrabajo] CHECK CONSTRAINT [FK_OPT_OrdenDeTrabajo_OPT_Empresa]
GO
ALTER TABLE [dbo].[OPT_OrdenDeTrabajo]  WITH CHECK ADD  CONSTRAINT [FK_OPT_OrdenDeTrabajo_OPT_Sucursal] FOREIGN KEY([idSucursal])
REFERENCES [dbo].[OPT_Sucursal] ([idSucursal])
GO
ALTER TABLE [dbo].[OPT_OrdenDeTrabajo] CHECK CONSTRAINT [FK_OPT_OrdenDeTrabajo_OPT_Sucursal]
GO
ALTER TABLE [dbo].[OPT_OrdenDeTrabajoDetalle]  WITH CHECK ADD FOREIGN KEY([idProducto])
REFERENCES [dbo].[OPT_Producto] ([idProducto])
GO
ALTER TABLE [dbo].[OPT_OrdenDeTrabajoDetalle]  WITH CHECK ADD  CONSTRAINT [FK_OPT_OrdenDeTrabajoDetalle_OPT_OrdenDeTrabajo] FOREIGN KEY([idOT])
REFERENCES [dbo].[OPT_OrdenDeTrabajo] ([idOT])
GO
ALTER TABLE [dbo].[OPT_OrdenDeTrabajoDetalle] CHECK CONSTRAINT [FK_OPT_OrdenDeTrabajoDetalle_OPT_OrdenDeTrabajo]
GO
ALTER TABLE [dbo].[OPT_Pago]  WITH CHECK ADD  CONSTRAINT [FK_OPT_Pago_OPT_OrdenDeTrabajo] FOREIGN KEY([idOT])
REFERENCES [dbo].[OPT_OrdenDeTrabajo] ([idOT])
GO
ALTER TABLE [dbo].[OPT_Pago] CHECK CONSTRAINT [FK_OPT_Pago_OPT_OrdenDeTrabajo]
GO
ALTER TABLE [dbo].[OPT_PaqueteCristalesDetalle]  WITH CHECK ADD  CONSTRAINT [FK_OPT_PaqueteCristalesDetalle_OPT_OrdenDeTrabajo] FOREIGN KEY([idOT])
REFERENCES [dbo].[OPT_OrdenDeTrabajo] ([idOT])
GO
ALTER TABLE [dbo].[OPT_PaqueteCristalesDetalle] CHECK CONSTRAINT [FK_OPT_PaqueteCristalesDetalle_OPT_OrdenDeTrabajo]
GO
ALTER TABLE [dbo].[OPT_PaqueteCristalesDetalle]  WITH CHECK ADD  CONSTRAINT [FK_OPT_PaqueteCristalesDetalle_OPT_PaqueteCristalesDetalle] FOREIGN KEY([idPaqueteCristales])
REFERENCES [dbo].[OPT_PaqueteCristales] ([idPaqueteCristales])
GO
ALTER TABLE [dbo].[OPT_PaqueteCristalesDetalle] CHECK CONSTRAINT [FK_OPT_PaqueteCristalesDetalle_OPT_PaqueteCristalesDetalle]
GO
ALTER TABLE [dbo].[OPT_ProductoDocumento]  WITH CHECK ADD FOREIGN KEY([idTipoDocumento])
REFERENCES [dbo].[OPT_TipoDocumento] ([idTipoDocumento])
GO
ALTER TABLE [dbo].[OPT_ProductoIngresoEgreso]  WITH CHECK ADD FOREIGN KEY([idProductoDocumento])
REFERENCES [dbo].[OPT_ProductoDocumento] ([idProductoDocumento])
GO
ALTER TABLE [dbo].[OPT_ProductoIngresoEgreso]  WITH CHECK ADD FOREIGN KEY([idProducto])
REFERENCES [dbo].[OPT_Producto] ([idProducto])
GO
ALTER TABLE [dbo].[OPT_ProductoIngresoEgreso]  WITH CHECK ADD  CONSTRAINT [FK_OPT_ProductoIngresoEgreso_OPT_Sucursal] FOREIGN KEY([idSucursal])
REFERENCES [dbo].[OPT_Sucursal] ([idSucursal])
GO
ALTER TABLE [dbo].[OPT_ProductoIngresoEgreso] CHECK CONSTRAINT [FK_OPT_ProductoIngresoEgreso_OPT_Sucursal]
GO
ALTER TABLE [dbo].[OPT_ProductoSucursal]  WITH CHECK ADD  CONSTRAINT [FK_OPT_ProductoSucursal_OPT_Producto] FOREIGN KEY([idProducto])
REFERENCES [dbo].[OPT_Producto] ([idProducto])
GO
ALTER TABLE [dbo].[OPT_ProductoSucursal] CHECK CONSTRAINT [FK_OPT_ProductoSucursal_OPT_Producto]
GO
ALTER TABLE [dbo].[OPT_ProductoSucursal]  WITH CHECK ADD  CONSTRAINT [FK_OPT_ProductoSucursal_OPT_Sucursal] FOREIGN KEY([idSucursal])
REFERENCES [dbo].[OPT_Sucursal] ([idSucursal])
GO
ALTER TABLE [dbo].[OPT_ProductoSucursal] CHECK CONSTRAINT [FK_OPT_ProductoSucursal_OPT_Sucursal]
GO
ALTER TABLE [dbo].[OPT_RecetaCristales]  WITH CHECK ADD  CONSTRAINT [FK__OPT_Recet__RutCl__19AACF41] FOREIGN KEY([RutCliente])
REFERENCES [dbo].[OPT_Cliente] ([RutCliente])
GO
ALTER TABLE [dbo].[OPT_RecetaCristales] CHECK CONSTRAINT [FK__OPT_Recet__RutCl__19AACF41]
GO
ALTER TABLE [dbo].[OPT_RecetaCristales]  WITH CHECK ADD  CONSTRAINT [FK_OPT_RecetaCristales_OPT_OrdenDeTrabajo] FOREIGN KEY([idOT])
REFERENCES [dbo].[OPT_OrdenDeTrabajo] ([idOT])
GO
ALTER TABLE [dbo].[OPT_RecetaCristales] CHECK CONSTRAINT [FK_OPT_RecetaCristales_OPT_OrdenDeTrabajo]
GO
ALTER TABLE [dbo].[OPT_RegularizaProducto]  WITH CHECK ADD  CONSTRAINT [FK_OPT_RegularizaProducto] FOREIGN KEY([idProducto])
REFERENCES [dbo].[OPT_Producto] ([idProducto])
GO
ALTER TABLE [dbo].[OPT_RegularizaProducto] CHECK CONSTRAINT [FK_OPT_RegularizaProducto]
GO
ALTER TABLE [dbo].[OPT_Usuario]  WITH CHECK ADD  CONSTRAINT [FK_OPT_Usuario_OPT_Rol] FOREIGN KEY([idRol])
REFERENCES [dbo].[OPT_Rol] ([idRol])
GO
ALTER TABLE [dbo].[OPT_Usuario] CHECK CONSTRAINT [FK_OPT_Usuario_OPT_Rol]
GO
ALTER TABLE [dbo].[OPT_UsuarioSucursal]  WITH CHECK ADD  CONSTRAINT [FK_OPT_UsuarioSucursal_OPT_Sucursal] FOREIGN KEY([idSucursal])
REFERENCES [dbo].[OPT_Sucursal] ([idSucursal])
GO
ALTER TABLE [dbo].[OPT_UsuarioSucursal] CHECK CONSTRAINT [FK_OPT_UsuarioSucursal_OPT_Sucursal]
GO
ALTER TABLE [dbo].[OPT_UsuarioSucursal]  WITH CHECK ADD  CONSTRAINT [FK_OPT_UsuarioSucursal_OPT_Usuario] FOREIGN KEY([RutUsuario])
REFERENCES [dbo].[OPT_Usuario] ([RutUsuario])
GO
ALTER TABLE [dbo].[OPT_UsuarioSucursal] CHECK CONSTRAINT [FK_OPT_UsuarioSucursal_OPT_Usuario]
GO
