USE [db_a25cfd_opt2]
GO
/****** Object:  StoredProcedure [dbo].[rpt_ClienteLista]    Script Date: 20-02-2026 16:02:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[rpt_ClienteLista]
(
	@IdSucursal		INT
)
AS
BEGIN

	Select B.Empresa
		  ,A.RutCliente
		  ,A.Nombre
		  ,A.Direccion
		  ,D.Region
		  ,C.Comuna
		  ,A.Celular
		  ,A.Mail
	From OPT_Cliente as A
	INNER JOIN OPT_Empresa as B
			ON A.idEmpresa = B.idEmpresa
	INNER JOIN OPT_EmpresaSucursal as E
			ON B.idEmpresa = E.idEmpresa
	INNER JOIN OPT_Comuna as C
			ON A.idComuna = C.idComuna
	INNER JOIN OPT_Region as D
			ON C.idRegion = D.idRegion
	WHERE E.idSucursal = @IdSucursal
	ORDER BY B.Empresa,A.Nombre

END
GO
/****** Object:  StoredProcedure [dbo].[rpt_ConsolidadoAnual]    Script Date: 20-02-2026 16:02:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[rpt_ConsolidadoAnual]
(
	@PeriodoInicio	INT
	,@PeriodoFin	INT
)
AS
BEGIN

	SELECT COUNT(idOT) as OTs
		  ,CASE WHEN MONTH(FechaAtencion) = 1 THEN 'ENE' 
				WHEN MONTH(FechaAtencion) = 2 THEN 'FEB'
				WHEN MONTH(FechaAtencion) = 3 THEN 'MAR'
				WHEN MONTH(FechaAtencion) = 4 THEN 'ABR'
				WHEN MONTH(FechaAtencion) = 5 THEN 'MAY'
				WHEN MONTH(FechaAtencion) = 6 THEN 'JUN'
				WHEN MONTH(FechaAtencion) = 7 THEN 'JUL'
				WHEN MONTH(FechaAtencion) = 8 THEN 'AGO'
				WHEN MONTH(FechaAtencion) = 9 THEN 'SEP'
				WHEN MONTH(FechaAtencion) = 10 THEN 'OCT'
				WHEN MONTH(FechaAtencion) = 11 THEN 'NOV'
				WHEN MONTH(FechaAtencion) = 12 THEN 'DIC'
		  END AS MesNombre
		  ,MONTH(FechaAtencion) as Mes
		  ,YEAR(FechaAtencion)	AS Periodo
		  ,SUM(Precio) as Total
	FROM [dbo].[OPT_OrdenDeTrabajo]
	WHERE YEAR(FechaAtencion) >= @PeriodoInicio AND  YEAR(FechaAtencion) <= @PeriodoFin
	GROUP BY  MONTH(FechaAtencion)
			 ,YEAR(FechaAtencion)
	ORDER BY YEAR(FechaAtencion)
			,MONTH(FechaAtencion)

END
GO
/****** Object:  StoredProcedure [dbo].[rpt_ConsolidadoTipoPago]    Script Date: 20-02-2026 16:02:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[rpt_ConsolidadoTipoPago]
(
	 @FechaInicio	INT
	,@FechaFin		INT
)
AS
BEGIN

	select COUNT(A.idOT) as OTs
		  ,CASE WHEN MONTH(A.FechaAtencion) = 1 THEN 'ENE' 
				WHEN MONTH(A.FechaAtencion) = 2 THEN 'FEB'
				WHEN MONTH(A.FechaAtencion) = 3 THEN 'MAR'
				WHEN MONTH(A.FechaAtencion) = 4 THEN 'ABR'
				WHEN MONTH(A.FechaAtencion) = 5 THEN 'MAY'
				WHEN MONTH(A.FechaAtencion) = 6 THEN 'JUN'
				WHEN MONTH(A.FechaAtencion) = 7 THEN 'JUL'
				WHEN MONTH(A.FechaAtencion) = 8 THEN 'AGO'
				WHEN MONTH(A.FechaAtencion) = 9 THEN 'SEP'
				WHEN MONTH(A.FechaAtencion) = 10 THEN 'OCT'
				WHEN MONTH(A.FechaAtencion) = 11 THEN 'NOV'
				WHEN MONTH(A.FechaAtencion) = 12 THEN 'DIC'
		  END AS MesNombre
		  ,MONTH(A.FechaAtencion) AS Mes
		  ,YEAR(A.FechaAtencion)	AS Periodo
		  ,SUM(A.Abono) as Total
		  ,C.FormaPago
	from OPT_OrdenDeTrabajo  AS A
	INNER JOIN OPT_Abono  AS B
			ON A.idOt = B.idOt
	INNER JOIN OPT_FormaPago as C
			ON B.idFormaPago = C.idFormaPago
	WHERE YEAR(A.FechaAtencion) >= @FechaInicio AND YEAR(A.FechaAtencion) <= @FechaFin
	GROUP BY  MONTH(A.FechaAtencion)
			 ,YEAR(A.FechaAtencion)
			 ,C.FormaPago
	UNION ALL
	select COUNT(A.idOT) as OTs
		  ,CASE WHEN MONTH(A.FechaAtencion) = 1 THEN 'ENE' 
				WHEN MONTH(A.FechaAtencion) = 2 THEN 'FEB'
				WHEN MONTH(A.FechaAtencion) = 3 THEN 'MAR'
				WHEN MONTH(A.FechaAtencion) = 4 THEN 'ABR'
				WHEN MONTH(A.FechaAtencion) = 5 THEN 'MAY'
				WHEN MONTH(A.FechaAtencion) = 6 THEN 'JUN'
				WHEN MONTH(A.FechaAtencion) = 7 THEN 'JUL'
				WHEN MONTH(A.FechaAtencion) = 8 THEN 'AGO'
				WHEN MONTH(A.FechaAtencion) = 9 THEN 'SEP'
				WHEN MONTH(A.FechaAtencion) = 10 THEN 'OCT'
				WHEN MONTH(A.FechaAtencion) = 11 THEN 'NOV'
				WHEN MONTH(A.FechaAtencion) = 12 THEN 'DIC'
		  END AS MesNombre
		  ,MONTH(A.FechaAtencion) AS Mes
		  ,YEAR(A.FechaAtencion)	AS Periodo
		  ,SUM(A.Saldo) as Total
		  ,'DESCUENTO PLANILLA' as FormaPago
	from OPT_OrdenDeTrabajo  AS A
	WHERE YEAR(A.FechaAtencion) >= @FechaInicio AND YEAR(A.FechaAtencion) <= @FechaFin
	  AND A.Abono = 0
	GROUP BY  MONTH(A.FechaAtencion)
			 ,YEAR(A.FechaAtencion)
	ORDER BY  YEAR(A.FechaAtencion)
			 ,MONTH(A.FechaAtencion)

END
GO
/****** Object:  StoredProcedure [dbo].[rpt_Inventario]    Script Date: 20-02-2026 16:02:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[rpt_Inventario]
(
	 @Prodcuto	VARCHAR(10)
	,@Periodo	INT
)
AS
BEGIN

	SELECT A.NumDocumento
	      ,A.Fecha
		  ,B.idProducto
		  ,(B.Marca +'-'+B.Producto+'-'+B.Color) as Producto
		  ,A.Movimiento
		  ,A.Descripcion
		  ,CASE WHEN A.TipoMovimiento = 0 THEN 'SALDO'		
				WHEN A.TipoMovimiento = 1 THEN 'ENTRADA'
				WHEN A.TipoMovimiento = 2 THEN 'SALIDA'
			END AS TipoMovimiento
		  ,A.EntradaCantidad
		  ,A.EntradaCostoUnitario
		  ,A.EntradaPrecioTotal		 
		  ,A.SalidaCantidad
		  ,A.SalidaPrecioUnitario
		  ,A.SalidaPrecioTotal
		  ,A.SaldoCantidad		 	
	FROM OPT_Inventario AS A
	INNER JOIN OPT_Producto AS B
			ON A.idProducto = B.idProducto
	WHERE YEAR(A.Fecha) = @Periodo
	  AND (A.idProducto = @Prodcuto OR @Prodcuto = '')
	ORDER BY A.Fecha ASC

END

GO
/****** Object:  StoredProcedure [dbo].[rpt_ListaCuota]    Script Date: 20-02-2026 16:02:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[rpt_ListaCuota]
(
	 @idEmpresa		INT
	,@FechaDesde	DATE
	,@FechaHasta	DATE
)
AS
BEGIN
	DECLARE	 @TotalPrecio	BIGINT
			,@TotalAbono	BIGINT
			,@TotalSaldo	BIGINT

	SELECT  @TotalPrecio = SUM(A.Precio)
		   ,@TotalAbono = SUM(A.Abono)
		   ,@TotalSaldo = SUM (A.Saldo)
	FROM OPT_OrdenDeTrabajo as A
	WHERE A.idEmpresa = @idEmpresa
	 AND A.FechaAtencion between @FechaDesde AND @FechaHasta
	 AND A.NumeroCuota>0

	SELECT B.idOT
		  ,(SELECT E.Empresa FROM OPT_EMPRESA AS E WHERE E.idEmpresa = A.idEmpresa) as Empresa
		  ,A.RutCliente
		  ,(SELECT C.Nombre FROM OPT_Cliente AS C WHERE C.RutCliente = A.RutCliente) AS Nombre
		  ,A.Beneficiario
		  ,A.FechaAtencion
		  ,A.Precio
		  ,A.Abono
		  ,A.Saldo
		  ,A.NumeroCuota
		  ,B.Numero
		  ,B.FechaBencimiento
		  ,B.ValorCuota
		  ,@TotalPrecio as TotalPrecio
		  ,@TotalAbono as TotalAbono
		  ,@TotalSaldo as TotalSaldo
		  ,D.Nombre as Sucursal
	FROM OPT_OrdenDeTrabajo as A
	INNER JOIN OPT_Cuota AS B
		   ON A.idOT = B.idOT
	INNER JOIN OPT_Sucursal as D
			ON A.idSucursal = D.idSucursal
	WHERE A.idEmpresa = @idEmpresa
	 AND A.FechaAtencion between @FechaDesde AND @FechaHasta
	 AND A.NumeroCuota > 0
	ORDER BY A.FechaAtencion DESC
END


GO
/****** Object:  StoredProcedure [dbo].[rpt_OrdenTrabajo]    Script Date: 20-02-2026 16:02:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[rpt_OrdenTrabajo]
(
	@IdOT	BIGINT
)
AS
BEGIN

	SELECT F.Empresa
	      ,B.Nombre
		  ,B.Direccion
		  ,B.Mail
		  ,B.Celular
		  ,C.Comuna
		  ,D.Region
		  ,A.*
		  ,E.idPago		  
		  ,E.FechaPago
		  ,E.Monto
		  ,E.TipoPago
		  ,G.Nombre as Sucursal
	FROM OPT_OrdenDeTrabajo AS A
	INNER JOIN OPT_Cliente AS B
			ON A.RutCliente = B.RutCliente
	INNER JOIN OPT_Empresa as F
			ON A.idEmpresa = F.idEmpresa
	INNER JOIN OPT_Comuna AS C
			ON B.idComuna = C.idComuna			
	INNER JOIN OPT_Region	AS D
			ON C.idRegion = D.idRegion	
	INNER JOIN OPT_Sucursal as G
			ON A.idSucursal = G.idSucursal
	LEFT JOIN OPT_Pago AS E
			ON A.idOT = E.idOT
	WHERE A.idOT = @IdOT
	
END
GO
/****** Object:  StoredProcedure [dbo].[rpt_OrdenTrabajoDetalle]    Script Date: 20-02-2026 16:02:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[rpt_OrdenTrabajoDetalle]
(
	@IdOT	BIGINT
)
AS
BEGIN
	SELECT A.idOTDetalle
		  ,A.idProducto
		  ,A.Cantidad
		  ,A.ValorUnitario
		  ,B.Producto
		  ,B.Color
		  ,B.Marca
		  ,A.Comentario
	FROM OPT_OrdenDeTrabajoDetalle AS A			
	LEFT JOIN OPT_Producto AS B
			ON A.idProducto = B.idProducto		
	WHERE A.idOT = @IdOT				
			
END
GO
/****** Object:  StoredProcedure [dbo].[rpt_OrdenTrabajoHistorial]    Script Date: 20-02-2026 16:02:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[rpt_OrdenTrabajoHistorial]
(
	@Rut	VARCHAR(12)
)
AS
BEGIN

	SELECT B.Nombre
		  ,B.Direccion
		  ,B.Mail
		  ,B.Celular
		  ,C.Comuna
		  ,D.Region
		  ,A.*
	FROM OPT_OrdenDeTrabajo AS A
	INNER JOIN OPT_Cliente AS B
			ON A.RutCliente = B.RutCliente
	INNER JOIN OPT_Comuna AS C
			ON B.idComuna = C.idComuna			
	INNER JOIN OPT_Region	AS D
			ON C.idRegion = D.idRegion			
	WHERE A.RutCliente = @Rut
	
END

GO
/****** Object:  StoredProcedure [dbo].[rpt_Pago]    Script Date: 20-02-2026 16:02:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[rpt_Pago]
(
	@IdOT	BIGINT
)
AS
BEGIN

	SELECT idOT
	      ,idPago
		  ,FechaPago
		  ,Monto
		  ,TipoPago
	FROM OPT_Pago
	WHERE idOT = @IdOT
	
END

GO
/****** Object:  StoredProcedure [dbo].[rpt_PagoDiario]    Script Date: 20-02-2026 16:02:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[rpt_PagoDiario]
(
	 @FechaInicio	DATETIME
	,@FechaFin		DATETIME
)
AS
BEGIN
	
	SELECT idOT
		  ,FechaPago
		  ,Monto
		  ,CASE WHEN TipoPago = '' THEN 'SIN INFORMACION'
				ELSE TipoPago END as TipoPago
	FROM OPT_Pago
	WHERE FechaPago BETWEEN @FechaInicio AND @FechaFin
	ORDER BY FechaPago

END
GO
/****** Object:  StoredProcedure [dbo].[rpt_PagoOrdenTrabajo]    Script Date: 20-02-2026 16:02:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[rpt_PagoOrdenTrabajo]
(
	@Rut	VARCHAR(12)
)
AS
BEGIN

	SELECT B.Nombre
		  ,B.Direccion
		  ,B.Mail
		  ,B.Celular
		  ,C.Comuna
		  ,D.Region
		  ,A.*
		  ,E.idPago		  
		  ,E.FechaPago
		  ,E.Monto
		  ,E.TipoPago
	FROM OPT_OrdenDeTrabajo AS A
	INNER JOIN OPT_Cliente AS B
			ON A.RutCliente = B.RutCliente
	INNER JOIN OPT_Comuna AS C
			ON B.idComuna = C.idComuna			
	INNER JOIN OPT_Region	AS D
			ON C.idRegion = D.idRegion			
	LEFT JOIN OPT_Pago AS E
			ON A.idOT = E.idOT
	WHERE A.RutCliente = @Rut
	
END

GO
/****** Object:  StoredProcedure [dbo].[rptVentaDiaria]    Script Date: 20-02-2026 16:02:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[rptVentaDiaria]
(
	 @FechaInicio	DATETIME 
	,@FechaTermino	DATETIME
)
AS
BEGIN

	SELECT A.IdOT
		  ,A.FechaAtencion
		  ,A.Precio
		  ,A.Abono
		  ,A.Saldo
		  ,C.FormaPago as FormaAbono
		  ,A.NumeroCuota
	FROM OPT_OrdenDeTrabajo as A
	INNER JOIN OPT_Abono as B
			ON A.idOT = B.idOT
	INNER JOIN OPT_FormaPago AS C
			ON B.idFormaPago = C.idFormaPago
	WHERE A.FechaAtencion BETWEEN @FechaInicio AND @FechaTermino
	ORDER BY A.FechaAtencion

END

GO
/****** Object:  StoredProcedure [dbo].[sp_DetalleDeudores]    Script Date: 20-02-2026 16:02:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_DetalleDeudores]
(
	@idEmpresa	INT
)
AS
BEGIN
	Select A.idEmpresa
		  ,C.Empresa
		  ,B.RutCliente
		  ,B.Nombre
		  ,A.Beneficiario
		  ,A.idOT
		  ,A.FechaAtencion
		  ,A.Precio
		  ,A.Abono
		  ,A.Saldo
		  ,A.NumeroCuota
		  ,CASE WHEN A.NumeroCuota = 0 THEN 0 
		        ELSE CONVERT(INT,(A.Saldo / A.NumeroCuota)) 
			END as ValorCuota
		  ,(Select COUNT(1) FROM OPT_Pago as D where A.idOT = D.idOT)  as CuotasCanceladas
		  ,CASE WHEN A.NumeroCuota = 0 THEN A.Saldo
				ELSE ISNULL((Select SUM(ISNULL(D.Monto,0)) FROM OPT_Pago as D where A.idOT = D.idOT),0)  
			END as MontoCancelado
		  ,CASE WHEN A.NumeroCuota =0 THEN 0
				ELSE (A.Saldo - ISNULL((Select SUM(ISNULL(D.Monto,0)) FROM OPT_Pago as D where A.idOT = D.idOT),0))   
			END as TotalDeuda		  
		  ,A.EstadoPago as Estado
		  ,B.Celular
	FROM  OPT_OrdenDeTrabajo  as A
	INNER JOIN OPT_Cliente AS B
			ON A.RutCliente = B.RutCliente
	INNER JOIN OPT_Empresa AS C
			ON A.idEmpresa = C.idEmpresa
	WHERE A.EstadoPago = 'PENDIENTE'
	  AND A.idEmpresa = @idEmpresa
	ORDER BY A.idOT

END

GO
/****** Object:  StoredProcedure [dbo].[sp_ListaDeudores]    Script Date: 20-02-2026 16:02:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ListaDeudores]
AS
BEGIN

	DECLARE  @TEMP TABLE
		(idEmpresa	INT	
		,Empresa	NVARCHAR(100)
		,Precio		decimal
		,Abono		decimal
		,Saldo		decimal
		,Pagado		decimal
		,OT			INT)
 
	INSERT INTO @TEMP
	Select    A.idEmpresa
			 ,B.Empresa
			 ,A.Precio as Precio
			 ,A.Abono as Abono
			 ,A.Saldo as Saldo
			 ,(Select ISNULL(SUM(Monto),0) FROM OPT_Pago as D where D.idOt = A.idOt ) AS Pagado
			 ,1 as OT
	FROM OPT_OrdenDeTrabajo  as A
	INNER JOIN OPT_Empresa  AS B
			ON A.idEmpresa = B.idEmpresa	
	WHERE A.EstadoPago = 'PENDIENTE'

	SELECT idEmpresa
		  ,Empresa
		  ,SUM(Precio) as Precio
		  ,SUM(Abono)  as Abono
		  ,SUM(Saldo)  as Saldo
		  ,SUM(Pagado) as Pagado	
		  ,COUNT(OT)   as OT 
	FROM @TEMP
	GROUP BY idEmpresa
		  ,Empresa		 
	ORDER BY Empresa

	--Select A.idEmpresa
	--	  ,B.Empresa
	--	  ,SUM(A.Precio) as Precio
	--	  ,SUM(A.Abono) as Abono
	--	  ,SUM(A.Saldo) as Saldo
	--	  ,SUM(ISNULL(D.Monto,0)) as Pagado
	--	  ,COUNT(1) as OT
	--FROM OPT_OrdenDeTrabajo  as A
	--INNER JOIN OPT_Empresa  AS B
	--		ON A.idEmpresa = B.idEmpresa
	--INNER JOIN OPT_Cliente AS C
	--		ON A.RutCliente = C.RutCliente	
	--LEFT JOIN OPT_Pago AS D
	--		ON A.idOT = D.idOT
	--WHERE A.EstadoPago = 'PENDIENTE'
	--GROUP BY A.idEmpresa
	--		,B.Empresa
	--ORDER BY B.Empresa
	
END

GO
/****** Object:  StoredProcedure [dbo].[SP_OTActualizaStock]    Script Date: 20-02-2026 16:02:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_OTActualizaStock]
AS
BEGIN
BEGIN TRY

	DECLARE @OK			INT
		   ,@Mensaje	VARCHAR(500)

	SET @OK= 0
	SET @Mensaje= ''	
	
	UPDATE OPT_Producto
	SET Entrada = Ingreso.Cantidad
	FROM (SELECT B.idProducto
				,SUM(B.Cantidad) as Cantidad
		  FROM OPT_ProductoIngresoEgreso as B
		  INNER JOIN OPT_ProductoDocumento as C
				  ON B.idProductoDocumento = C.idProductoDocumento
		  WHERE C.IngresoEgreso = 1
		  GROUP BY B.idProducto) AS INGRESO
	WHERE OPT_Producto.idProducto = Ingreso.idProducto;


	UPDATE OPT_Producto
	SET Salida = Salida.Cantidad
	FROM (SELECT A.idProducto
				,SUM(A.Cantidad) as Cantidad
		  FROM OPT_OrdenDeTrabajoDetalle as A
		  GROUP BY A.idProducto) AS Salida
	WHERE OPT_Producto.idProducto = Salida.idProducto


	UPDATE OPT_Producto
	SET Stock = Entrada -Salida;
	
	
END TRY
BEGIN CATCH
	-- SI HAY UNA EXCEPCION RETORNO EL NUMERO Y EL MENSAJE DE ERROR CAPTURADO POR SQL.
	SET @OK= ERROR_NUMBER()
	SET @Mensaje= ERROR_MESSAGE() 		
END CATCH

-- RETORNO UNA RESPUESTA
	SELECT  @OK as OK
		   ,@Mensaje as Mensaje 
END
GO
/****** Object:  StoredProcedure [dbo].[SP_OTEliminar]    Script Date: 20-02-2026 16:02:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_OTEliminar]
(
	 @IdOT	int   
)
AS
BEGIN
BEGIN TRY

	DECLARE @OK			INT
		   ,@Mensaje	VARCHAR(500)

	SET @OK= 0
	SET @Mensaje= ''		

	UPDATE OPT_ProductoSucursal
	SET Salida = Salida - OTD.Cantidad
	   ,Entrada = Entrada + OTD.Cantidad
	   ,Stock	= Stock + OTD.Cantidad
	FROM OPT_OrdenDeTrabajo AS OT
	INNER JOIN OPT_OrdenDeTrabajoDetalle AS OTD
			ON OT.idOT = OTD.idOT
	WHERE OT.idOT = @IdOT
	  AND OPT_ProductoSucursal.idSucursal = OT.idSucursal
	  AND OPT_ProductoSucursal.idProducto = OTD.idProducto


	DELETE OPT_OrdenDeTrabajoDetalle WHERE idOT = @IdOT;
	DELETE OPT_Cuota WHERE idOT = @IdOT;
	DELETE OPT_Abono WHERE idOT = @IdOT;
	DELETE OPT_BitacoraOT WHERE idOT = @IdOT
	UPDATE OPT_RecetaCristales SET idOT = NULL WHERE idOT = @IdOT;
	DELETE OPT_OrdenDeTrabajo WHERE idOT = @IdOT;


END TRY
BEGIN CATCH
	-- SI HAY UNA EXCEPCION RETORNO EL NUMERO Y EL MENSAJE DE ERROR CAPTURADO POR SQL.
	SET @OK= ERROR_NUMBER()
	SET @Mensaje= ERROR_MESSAGE() 		
END CATCH

-- RETORNO UNA RESPUESTA
	SELECT  @OK as OK
		   ,@Mensaje as Mensaje 
END
GO
/****** Object:  StoredProcedure [dbo].[sp_OTPeriodo]    Script Date: 20-02-2026 16:02:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_OTPeriodo]
AS
BEGIN		
	SELECT YEAR(A.FechaAtencion) as Periodo
		  ,SUM(ISNULL(A.Precio,0)) as Precio
		  ,SUM(ISNULL(A.Abono,0)) as Abono
		  ,SUM(ISNULL(A.Saldo,0)) AS Saldo
		  ,COUNT(A.idOT) as Cantidad
		  ,C.Empresa
	FROM OPT_OrdenDeTrabajo as A
	INNER JOIN OPT_Cliente AS B
			ON A.RutCliente = B.RutCliente
	INNER JOIN OPT_Empresa	AS C
			ON A.idEmpresa = C.idEmpresa
	GROUP BY YEAR(A.FechaAtencion)
			,C.Empresa
	ORDER BY Periodo,Precio DESC

	
END
GO
/****** Object:  StoredProcedure [dbo].[sp_OTPeriodoMes]    Script Date: 20-02-2026 16:02:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_OTPeriodoMes]
(
	@idSucursal		INT
)
AS
BEGIN		
	SELECT YEAR(A.FechaAtencion) as Anio
	      ,MONTH(A.FechaAtencion) as Mes
		  ,SUM(A.Precio) as Precio
		  ,SUM(A.Abono) as Abono
		  ,SUM(A.Saldo) AS Saldo
		  ,COUNT(A.idOT) as Cantidad
		  ,C.Empresa
	FROM OPT_OrdenDeTrabajo as A
	INNER JOIN OPT_Cliente AS B
			ON A.RutCliente = B.RutCliente
	INNER JOIN OPT_Empresa	AS C
			ON A.idEmpresa = C.idEmpresa
	INNER JOIN OPT_EmpresaSucursal as D
			ON A.idEmpresa = D.idEmpresa
	WHERE D.idSucursal = @idSucursal
	GROUP BY YEAR(A.FechaAtencion)
	        ,MONTH(A.FechaAtencion)
			,C.Empresa
	ORDER BY Anio,Mes,Precio DESC

	--	SELECT YEAR(A.FechaAtencion) as Anio
	--      ,MONTH(A.FechaAtencion) as Mes
	--	  ,SUM(A.Precio) as Precio
	--	  ,SUM(A.Abono) as Abono
	--	  ,SUM(A.Saldo) AS Saldo
	--	  ,COUNT(A.idOT) as Cantidad
	--	  ,C.Empresa
	--FROM OPT_OrdenDeTrabajo as A
	--INNER JOIN OPT_Cliente AS B
	--		ON A.RutCliente = B.RutCliente
	--INNER JOIN OPT_Empresa	AS C
	--		ON B.idEmpresa = C.idEmpresa
	--INNER JOIN OPT_EmpresaSucursal as D
	--		ON C.idEmpresa = D.idEmpresa
	--WHERE D.idSucursal = @idSucursal
	--GROUP BY YEAR(A.FechaAtencion)
	--        ,MONTH(A.FechaAtencion)
	--		,C.Empresa
	--ORDER BY Anio,Mes,Precio DESC

END
GO
